/*import variables*/
@import "./src/theme/variables.css";
/*import base layout styles*/
@import "./src/styles/base/reset.css";
/*import layout styles*/
@import "./src/styles/layout/layout.css";
@import "./src/styles/layout/header.css";
@import "./src/styles/layout/footer.css";
@import "./src/styles/layout/grid.css";
@import "./src/styles/layout/shimmer.css";
/*import component styles*/
@import "./src/styles/component/searchBar.css";
@import "./src/styles/component/divider.css";
@import "./src/styles/component/card.css";
@import "./src/styles/component/modal.css";

.not-found-container {
  text-align: center;
  padding: 15px;
  color: var(--clr-font-color);
  font-size: 24px;
}
.welcome-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}
.welcome-text {
  text-align: center;
  line-height: 0.8;
  margin-top: 80px;
  font-weight: bold;
  color: var(--clr-font-color);
  font-size: 42px;
}
.welcome-text2 {
  text-align: center;
  line-height: 1.1;
  font-weight: bold;
  color: var(--clr-font-color);
  margin-bottom: 10px;
  font-size: 30px;
}
