:root {
	--clr-dark: #fbf3d5;
    --clr-background: #F5F0EB;
    --clr-text: #3d3d3d;
	--clr-white: #f1f5f9;
	--clr-slate: #94a3b8;
	--clr-primary: #5b93a6;
    --clr-yellow: #ebd5ab;
    --clr-blue: #471396;
}


*,
*::before,
*::after{
	box-sizing: border-box;
}


* {
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}

html, body {
	height: 100%;
    background-color: var(--clr-dark);
}


 /* ROOT CONTAINER  */

.layout-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: transparent;
    background-attachment: fixed;
    background-image: url("./src/assets/undefined.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search-bar-container{
	background-color: transparent;
    margin: 0 auto;
    margin-top: 30px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.search-row {
    display:flex;
    width: 70%;
    border: 3px solid var(--clr-primary);
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 20px;
    gap: 8px;
    background-color: var(--clr-background);
}
.search-icon {
    font-size: 24px;
    padding-left: 8px;
    color: var(--clr-primary);
}
.search-row .ant-input
.search-row .ant-input-group-addon,
.search-row .ant-input-search-button,
.search-row .ant-input-affix-wrapper{
    border-radius: 0 !important;
}
.search-suggestions {
    display: flex;
    flex-direction: row;
    color: var(--clr-text);
    margin-left: 40px;
    align-items: center;
    margin: 0 auto;
    margin-top: 13px;
    font-size: 15px;
}
.search-suggested-items {
    border-radius:15px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--clr-text);  
    padding: 0 5px;
}
.search-suggested-items:hover {
    background-color: var(--clr-primary);
}
.grid-container {
    margin: 0 auto; 
    padding: auto; 
	background-color: transparent;
}
.divider .ant-divider-horizontal {
	margin-left: 0;
	color: var(--clr-dark);
	background-color: var(--clr-white);
}
.row {
	overflow-Y: auto;
    margin: 0 auto;
	background-color: transparent;
    justify-content: space-evenly;
	display: flex;
	padding: 5px;
	flex-wrap: wrap;
	gap: 10px;
}

.header-container {
	display: flex;
    opacity: 0.8;
	position: relative;
	align-items: center;
    justify-content: space-between;
	color: var(--clr-text);
	height: 60px;
	line-height: 64px;
	background-color: var(--clr-background);
}
.header-right {
    display: flex;
    align-items: center;
    
}
.theme-toggle {
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
}
.logo {
	height: 40px;
	width: 80px;
	margin-left: 10px;
	border-radius: 6px;
	padding-left: 3px;
	z-index: 2;
	font-weight: bold;
	font-size: 25px;
	color: var(--clr-white);
	display:flex;
}
.menu-container{
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 2px;
    margin: 0 10px;
}
.menu-icon {
    color: var(--clr-primary);
}
.ant-dropdown-menu {
    background-color: var(--clr-primary);
}
.ant-dropdown-menu-item {
    margin: 10px;
}
.ant-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: black;
}
.heading {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	color: var(--clr-text);
}
.skeleton-card {
	border-radius: 5px;
	background-color: var(--clr-background);
}

.not-found-container {
	text-align: center;
	padding: 15px;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-text {
	padding: 10px;
	text-align: center;
    line-height: 0.8;
    margin-top: 80px;
	font-weight: bold;
    color: var(--clr-text);
	font-size: 40px;
}
.welcome-text2{
	text-align: center;
    line-height: 1.1;
	font-weight: bold;
    color: var(--clr-text);
    margin-bottom: 10px;
	font-size: 30px;
}
.custom-modal .ant-modal-content{
	width: 12000px;
}

.card-container {
	width: 300px;
	border: 2px solid black;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}

.card-container .ant-card-body {
	padding: 8px 12px;
	text-align: center;
}

.card-container .ant-card-cover {
	height: 180px;
	overflow: hidden;
	margin: 0;
}

.card-container .ant-image {
	width: 100%;
	height: 100%;
	display: block;
}
.card-container .ant-image-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.card-title {
	margin: 0;
}

.card-title .ant-card-meta-title {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.custom-footer {
	display: flex;
	flex-direction: row;
	padding-top: 8px;
	background-color: var(--clr-background);
	height: 60px;
	text-align: middle;
    opacity: 0.8;
}
.main-content {
	flex: 1;
    margin: auto;
}
.contact-us {
	position: absolute;
	font-size: 15px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	align-items: center;
	justify-content:center;
    font-weight: bold;
	color: var(--clr-text);
    opacity: 1;
}
